html
  head
    title Shivesh Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
       ul  
           div#logo
                img(src="/static/img/logo.png.png")
                | SDA
           li  #[a(href="/") Home]
           li  #[a(href="/") About]
           li  #[a(href="/") Service ]
           li  #[a(href="/") class info]
           li  #[a(href="/contact") Contact Us]

    block content
    footer#footer 
        | Copyright ©  2020 shiveshdanceacademy.com |All right reserved.